@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.handleInput{
    margin-top: 30px;
    text-align: left;
}
nav{
    
    height: 4em;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   background-color: black;
   font-family: 'Roboto Mono', monospace;
}
.active{
  color: azure !important;
   font-weight: bolder !important;
}
.logo{
    font-size: 3em;
    text-decoration: none;
    color: rgb(247, 238, 238) !important;
    font-weight: bolder;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.content-problemset{
    display: flex;
    flex-direction: row;
align-items: flex-start;
    
}
.pset{
    padding: 5px;
}
.link{
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
    color: rgb(253, 232, 218);
    font-size: 1.5rem;
}
.collapse{
    cursor: pointer;
}
.controls{
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    width: 250px;
    height: auto;
}
.iconTick{
    background: url('tick.ico');
   height: 40px;
   background-repeat: no-repeat;
   background-size: 40px;

   width: 40px;
   margin-left: auto;
   margin-right: auto;
    display: block;
    
}
.addedHandles{
    border: 2px solid black;
    width: auto;
    height: auto;
   color: red;
   margin: 30px;
   
}
.tagFilterName{
   
display: flex;
flex-direction: row;
justify-content: space-around;
    
}