@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.handleInput{
    margin-top: 30px;
    text-align: left;
}
.smallTagDisplay{
    color: red;
}
.psetDisplayStyle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-grow: 100;
}
nav{
    
    height: 4em;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   background-color: black;
   font-family: 'Roboto Mono', monospace;
   z-index: 100;
}
.active{
  color: azure !important;
   font-weight: bolder !important;
}
.logo{
    font-size: 3em;
    text-decoration: none;
    color: rgb(247, 238, 238) !important;
    font-weight: bolder;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.Negative{
    background-color: rgb(247, 177, 177);
}
.Positive{
    background-color: rgb(2, 29, 2);
}
.content-problemset{
    display: flex;
    flex-direction:column;

background-color: rgb(19, 2, 2);
justify-content: space-between;
margin-top: 50px;


}
.lablesFiled{
    border: 2px solid red;
   
  
   width: 100%;
   height: auto;
   background-color: khaki;
   margin: 0;
   position: sticky;
}


.middleSection{
    border: 2px solid brown;
    width: 100%;
}

#root{
 display: flex;
 flex-direction: column;
 width: 100%;
 align-items: center;
 align-content: center;
}
.content{
    display: flex;
    flex-direction: row;
   position: sticky;


background-color: rgb(39, 7, 7);
justify-content: space-between;
}
.pset{
    padding: 5px;
    background-color: yellowgreen;
    margin-top: 10px;
    flex: 3;
  
    height: 600px;/*..very important if you want scroll bar...*/
    overflow: auto; /*..will introduce scroll bar when needed..*/
    overflow-x: hidden;
}
.link{
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
    color: rgb(253, 232, 218);
    font-size: 1.5rem;
}
.collapse{
    cursor: pointer;
}
.controls{
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    overflow:hidden;  /* code added to prevent scroll */
    
   margin-top: 10px;
    flex:1;
    height: 100%;
    background-color: rgb(10, 131, 236);
}
.iconTick{
    background: url('tick.ico');
   height: 40px;
   background-repeat: no-repeat;
   background-size: 40px;

   width: 40px;
   margin-left: auto;
   margin-right: auto;
    display: block;
    
}
.addedHandles{
    border: 2px solid black;
    width: auto;
    height: auto;
   color: red;
   margin: 30px;
   
}
.tagFilterName{
   
display: flex;
flex-direction: row;
justify-content: space-around;
    
}
tr{
    width: auto;
    height: auto;
}
.ladderControls{
    background-color: brown;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}
.lablesFiled{
    margin-top: 30px;
}